// Bootstrap
@import "_bootstrap";

// Variable overrides and custom variables
@import "_variables";

// Roots
@import "_global";                   // Base styling & custom mixins
@import "components/_buttons";       // Button tweaks
@import "components/_comments";      // Comment styling
@import "components/_forms";         // Form tweaks
@import "components/_media";         // WordPress media
@import "components/_wp-classes";    // WordPress generated classes
@import "layouts/_general";          // General styling
@import "layouts/_header";           // Header styling
@import "layouts/_sidebar";          // Sidebar styling
@import "layouts/_footer";           // Footer styling
@import "layouts/_pages";            // Page styling
@import "layouts/pages/_home";       // Home page styling
@import "layouts/_posts";            // Post styling
@import "animate";                   // Animations

/********* General Rules ***********/

body {
	background-color: black;
}

main.main {
	overflow: hidden;
}

.navbar {
	margin-bottom: 0px;
}

.row {
	position: relative;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background-color: transparent;
}

header.banner {

	top: 0;
	position: fixed;
	width: 100%;
	background:#232020;
	border: none;

	.navbar-brand {
		display: block;
		background-image: url(../img/menu/header-logo.png);
		background-repeat: no-repeat;
		background-size: contain;
		text-indent: -9999px;
		width: 345px;
		height: @header-height;
	}

	#section-nav {
		margin-top: 15px;
	}

	#menu-primary-navigation {

		li {
			float: left;
			clear: both;

			a {
				padding-top: 0px;
				padding-bottom: 0px;
				color: white;
				font-weight: 300;
				text-transform: uppercase;
				font-size: 10px;
				letter-spacing: 1.5px;
				line-height: 15px;
			}
		}

		li.active a{
			color: @brand-primary;
		}

		li.active a:before {
		    content: url(../img/menu/arrow.png);
		    position: absolute;
		    margin-left: -16px;
		    margin-top: 1px;
		}
	}

	#dates {

		margin-top: 15px;

		ul {
			list-style: none;
			padding-left: 0px;
			width: 100%;

			li {
				color: white;
				font-weight: 300;
				font-size: 10px;
				letter-spacing: 1.5px;
				text-transform: uppercase;
				line-height: 15px;
			}
		}

		.btn-default {
			color: @brand-primary;
			font-size: 12px;
			background: transparent;
			padding: 2px 6px 2px 6px;
			border: solid @brand-primary 1px;
			text-transform: uppercase;
			text-decoration: none;
			cursor: pointer;
			font-weight: 600;
		}
	}

	#rbcm-logo {
		position: relative;
		max-width: @header-height;
		float: right;

		a { 
			position: absolute;
			display: block;
			background: @brand-primary;
			width: 100%;
			height: @header-height;
			background-image: url(../img/menu/rbcm-logo.png);
			background-repeat: no-repeat;
			background-position: center;
			right: -15px;
		}
	}
}

.accent {
	color: @brand-primary!important;
}


.wrap {
	padding-top: @header-height;
}

.covervid-wrapper {
	z-index: -2;
    position: fixed;
    margin-top: @header-height;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.align-right {

	text-align: center;
	width: 50%;
	float: right;
}

.extend-above {
	position: absolute;
	margin-top: -800px;
	z-index: 99;
	width: 100%;

	img {
		display: block;
		margin: auto;
	}
}

footer.content-info {

	overflow: hidden;

	& > div {
		z-index: 99;
		position: relative;
	}

	.container-fluid {
		background:#232020;
		height: @footer-height;
	}

	#rbcm-logo-footer {
		position: relative;
		height: 100%;

		a { 
			position: absolute;
			display: block;
			background: @brand-primary;
			width: 100%;
			height: 100%;
			background-image: url(../img/menu/rbcm-logo.png);
			background-repeat: no-repeat;
			background-position: bottom;
			right: -15px;
		}
	}

	#tourism {
		border-left: 1px solid rgba(255, 255, 255, 0.4);
		margin-top: 40px;
		margin-bottom: 30px;
		height: 235px;

		img {
			display: block;
			margin: auto;

			&:nth-child(2) {
				margin-top: 30px;
				margin-bottom: 30px;
			}
		}
	}

	#allure {
		border-left: 1px solid rgba(255, 255, 255, 0.4);
		margin-top: 40px;
		margin-bottom: 30px;
		height: 235px;

		img {
			display: block;
			margin: auto;

			&:nth-child(1) {
				margin-bottom: 87px;
			}
		}
	}

	#gold-rush-footer {
		margin-top: 40px;
		margin-bottom: 30px;
		height: 235px;
		img {
			display: block;
			margin: auto;

			&:nth-child(1) {
				margin-bottom: 87px;
			}
		}
	}

	#dates-footer {

		margin-top: 40px;

		ul {
			list-style: none;
			padding-left: 0px;
			width: 100%;
			margin-bottom: 25px;

			li {
				color: white;
				font-weight: 300;
				font-size: 10px;
				letter-spacing: 1.5px;
				text-transform: uppercase;
				line-height: 15px;
			}

			li.accent {
				font-size: 12px;
				margin-bottom: 10px;
			}
		}

		.btn-default {
			color: white;
			font-size: 14px;
			background: @brand-primary;
			padding: 6px 14px 6px 14px;
			border: solid white 1px;
			text-transform: uppercase;
			text-decoration: none;
			cursor: pointer;
			margin-top: 10px;
			font-weight: 600;
		}

		p {
			color: rgba(255, 255, 255, 0.8);
			font-family: @font-family-sans-serif;
			margin-top: 30px;
			line-height: 15px;
			letter-spacing: 1.5px;
			font-weight: 300;
			font-size: 11px;
			max-width: 188px;
		}

		a:not(.btn-default) {
		    margin-top: 16px;
		    display: block;
  			color: rgba(255, 255, 255, 0.5);
			font-size: 10px;
		}
	}
}

// ---------------  Section Rules ---------------//

section.sub-section {

	position: relative;
	overflow: hidden;
	z-index: 0;
	height: 6000px;

	.fullscreen {
		-webkit-transition: opacity 0.75s ease-in-out;
	    -moz-transition: opacity 0.75s ease-in-out;
	    -o-transition: opacity 0.75s ease-in-out;
	    transition: opacity 0.75s ease-in-out;
	}

	.active {
		-webkit-transition:  opacity 1.5s ease-in-out;
	    -moz-transition:  opacity 1.5s ease-in-out;
	    -o-transition:  opacity 1.5s ease-in-out;
	    transition:  opacity 1.5s ease-in-out;
	}

	.no-animation {
		-webkit-transition:  opacity 0s ease-in-out;
	    -moz-transition:  opacity 0s ease-in-out;
	    -o-transition:  opacity 0s ease-in-out;
	    transition:  opacity 0s ease-in-out;
	}

	.crossfade {
		position: relative;
	}

	&.inView {
		visibility: visible;
	}

	.fullscreen.fadeable{
		opacity: 0;
	}

	.fullscreen.active{
		opacity: 1;
		z-index: 1;
	}

	&.active_subsection {
		z-index: 1;
	}
}

.sticky_section {
	width: 100%;
	height: 100%;
	position: fixed;
	top: @header-height;
}

.absolute-outer {
	position: absolute;
	left: 50%;
}

.absolute-inner {
	position: relative; 
	left: -50%;
}

.gold-circle {
	background-image: url(../img/goldcircle.png);
	background-position: center;
	background-repeat: no-repeat;
}

/********************* styles ********************/

.overlap-above {
	margin-top: 350px;
	position: relative;
	z-index: 2;
}

.coin-text {
	margin-top: -45px;
}

#scroll-down {
	color: rgba(255, 255, 255, 0.5); 
	text-align: center;
	cursor: pointer;
}

.golden-thread {
	width:2px;
	position: absolute;
	left: 50%;
	opacity: 1!important;
	z-index: -1;

	&.gt-bottom {
		top:50%;
	}

	&.gt-top {
		bottom: 65%;
		height: 50%;
	}

	&.gt-full {
		top: 0;
	}
}


.info-button {
	display: block;
	background-image: url(../img/flyout/info-button.png);
	background-repeat: no-repeat;
	width: 42px;
	height: 42px;
	position: absolute;
	bottom: 0px;
	right: 0px;
	opacity: 0;
	-webkit-transition:  opacity .5s ease-in-out;
    -moz-transition:  opacity .5s ease-in-out;
    -o-transition:  opacity .5s ease-in-out;
    transition:  opacity .5s ease-in-out;
}

.info-button:hover {
	background-image: url(../img/flyout/info-button.png);
	opacity: 0.6;
}

.active .info-button {
	opacity: 1;
	z-index: 99;
}

.active_section {
	z-index: 1;
}

.popover {
	background-color: black;
	color: white;
	border-radius: 0;	
	bottom: 0!important;
	right: 0!important;
	top: auto!important;
	left:auto!important;
	border: 0px;
	background-image: url(../img/flyout/exit.png);
	background-repeat: no-repeat;
	background-position: 98% 95%;
	cursor: pointer;
	position: fixed;

	.arrow {
		display: none;
	}

	.popover-content {
		font-family: @font-family-sans-serif;
		font-weight: 300;
		text-transform: uppercase;
		font-size: 10px;
		letter-spacing: 1.5px;
		line-height: 15px;
		padding: 20px 30px;
	}
}

#section-1A {
	#logo-french {
		width: 200px;
		margin-right: 80px;
	}

	#logo-chinese {
		width: 200px;
		margin-left: 80px;
	}
}

#section-1B {

	.fade-to-black-overlay {
		width:100%;
		height: 100%;
		background-image: -webkit-linear-gradient(top, 
		    rgba(0,0,0,0) 0%, 
		    rgba(0,0,0,0) 80%,
		    rgba(0,0,0,1.0) 100%
		 );
	}
}

#section-1C {

	.fade-both-overlay {
		width:100%;
		height: 100%;
		background-image: -webkit-linear-gradient(top, 
		    rgba(0,0,0,1.0) 0%, 
		    rgba(0,0,0,0) 20%,
		    rgba(0,0,0,0) 80%,
		    rgba(0,0,0,1.0) 100%
		 );
	}

	.content-a {
		overflow: hidden;
	}
}

#section-2A {
	
	.bottom-container {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 100%;

		img  {
			bottom: 0;

			&.left {
				left: 0;
				position: absolute;
			}

			&.right {
				right: 0;
				position: absolute;
			}

			&.center {
				
			}
		}
	}
}

#section3 {
	section.sub-section {
		height: 1200px;
	}
}

#section3-interstitial {
	div {
		height: 300px;
		width: 100%;
	}
}

#section3b {

	section.sub-section {
		height: 8000px;
	}

	.active #section_3_video {
		opacity: 1!important;
	}

	#section_3_video
	{
		opacity: 0;
		-webkit-transition: opacity 1.5s ease-in-out;
	    -moz-transition: opacity 1.5s ease-in-out;
	    -o-transition: opacity 1.5s ease-in-out;
	    transition: opacity 1.5s ease-in-out;
	}

}

#section4b {

	.sticky_section {
		background-size: cover;
		background-position: 0% 50%;
	}
}

#section4c {

	section.sub-section {
		height: 3000px;
	}
}


#section4e {

	section.sub-section {
		height: 8000px;
	}

	.alpha-bg {
		position: absolute;
		background-color: rgba(0, 0, 0, 0.7);
		background-image: url(../img/4E/4E-goldlines.png);
		background-position: center center;
		background-repeat: no-repeat;
		width: 100%;
		bottom:0;
		text-align: center;
	}
}

#section5 {
	
	.absolute-outer {

		margin-top: 40px;
	}

	.fade-in-overlay {
		width:100%;
		height: 100%;
		background-image: -webkit-linear-gradient(top, 
		    rgba(0,0,0,1.0) 0%, 
		    rgba(0,0,0,0) 20%,
		 );
	}

	.fade-out-overlay {
		width:100%;
		height: 100%;
		background-image: -webkit-linear-gradient(top, 
		    rgba(0,0,0,0) 0%, 
		    rgba(0,0,0,0) 60%,
		    rgba(0,0,0,1.0) 95%,
		    rgba(0,0,0,1.0) 100%
		 );
	}

	#interstitial_5a{
		height:600px;
		background: black;
	}
}

#section5b {
	height: 3000px;
}

#section-1C {
	height: 10000px;
}

/************************** animations *************/

.os-animation{
  opacity: 0;
}

.os-animation.animated{
    opacity: 1;
}

/********************** Fullscreen styles **************/

/* background setup */
.background {
    background-repeat:no-repeat;
}

/* fullscreen setup */
html,body {
    height:100%;
}

.fullscreen:not(.gold-circle):not(.parallax) {
	background-size: cover !important;
	background-position: center!important;
}

.fullscreen,
.content-a {
    width:100%;
    min-height:100%;
}

.not-fullscreen,
.not-fullscreen .content-a,
.fullscreen.not-overflow,
.fullscreen.not-overflow .content-a {
    height:100%;
}

.parallax {
	background-attachment: fixed!important;
}

/* content centering styles */
.content-a {
	display:table;
}
.content-b {
	display:table-cell;
    position:relative;
	vertical-align:middle;
	text-align:center;
}